{% extends "base.html" %}
{% load static %}

{% block sidebar %}
  {% include "dashboard/sidebar.html" %}
{% endblock sidebar %}
  
{% block account %}


          
        
            <section class="home-section">
                {% include "dashboard/navbar.html" %}
                <div class="home-content">
                    {% if account.account_balance == 0  and account.active_deposit == 0  and account.total_profit == 0  %}
                        <div class="overview-boxes">
                            <div class="box">
                            <div class="right-side">
                                <div class="box-topic">Account Balance</div>
                                <div class="number">$0</div>
                            </div>
                            <i class='bx bx-cart-alt cart'></i>
                            </div>
                            <div class="box">
                            <div class="right-side">
                                <div class="box-topic">Active Deposit</div>
                                <div class="number">$0</div>
                            </div>
                            <i class='bx bxs-cart-add cart two' ></i>
                            </div>
                            <div class="box">
                            <div class="right-side">
                                <div class="box-topic">Total Profit</div>
                                <div class="number">$0</div>
                            </div>
                            <i class='bx bx-cart cart three' ></i>
                            </div>
                        </div>
                    {% else %}
                        <div class="overview-boxes">
                            <div class="box">
                            <div class="right-side">
                                <div class="box-topic">Account Balance</div>
                                <div class="number">${{user.account.account_balance}}</div>
                            </div>
                            <i class='bx bx-money cart'></i>
                            </div>
                            <div class="box">
                            <div class="right-side">
                                <div class="box-topic">Active Deposit</div>
                                <div class="number">${{user.account.active_deposit}}</div>
                            </div>
                            <i class='bx bxs-credit-card cart two' ></i>
                            </div>
                            <div class="box">
                            <div class="right-side">
                                <div class="box-topic">Total Profit</div>
                                <div class="number">${{user.account.total_profit}}</div>
                                <div class="indicator">
                                    {% if account.account_balance > 0  and account.active_deposit > 0  and account.total_profit > 0  %}
                                    <i class='bx bx-up-arrow-alt'></i>
                                        <span class="text">Your profit will be paid out in 4 days</span>
                                    {% endif %}
                                  </div>
                                </div>
                                <i class='bx bxs-bar-chart-alt-2 cart four' ></i>
                            </div>
                        </div>
                    {% endif %}
                
            
                <div class="sales-boxes">
                    <div class="recent-sales box">
                    <div style="width: fit-content;" class="title">Your Profile</div>
                        {% include "user/userprofile.html" %}
                    </div>
                    <div class="top-sales box">
                        <div class="title">Trading Session</div>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="container mt-5 pt-5">
                                <img src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/250/000000/external-trading-stock-market-wanicon-lineal-color-wanicon.png"/><br>
                              
                                <button type="button" class="btn btn-secondary d-grid mx-auto mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">View Trading Session</button>
                                
                                
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            {% if user.account.account_balance == 0  and user.account.active_deposit == 0  and user.account.total_profit == 0  %}
                                                <div class="modal-header">
                                                <h5 class="modal-title text-center" id="staticBackdropLabel">You need to make a deposit to access this feature!</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                            {% else %}
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-center" id="staticBackdropLabel">You need to deposit a minimum of $3000 to access this feature</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                            {% endif %}
                                            <div class="modal-body d-grid mx-auto">
                                                <img src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-trading-stock-market-wanicon-lineal-color-wanicon.png"/><br>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary"><a href="{% url 'deposit' %}" class="text-white text-decoration-none">Ok</a></button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
  
        
        
{% endblock account %}


