{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Contact us</title>
{% endblock title %}

{% block bootstrap-nav %}
  {% include "dashboard/nav.html" %}
{% endblock bootstrap-nav %}

{% block contact %}
<div class="container log log1 mt-5 mb-5">
    <h5 class="fw-bold fs-1 text-center mb-5">CONTACT US</h5>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-5 col-sm-12 mt-4 mb-5">
            <div class="add">
                <div class="red">
                    <h6 class="fw-bold">ABOUT RUNGUYS INVESTMENT</h6>
                </div>
                <div class="red mt-5">
                    {{about.about|safe}}
                </div>
           </div>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div>
                <div><p class="fw-bold fs-4 text-success">Send Us a Message</p></div>
                <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                    <div class="were">
                        <input type="text" class="form-control" id="name" placeholder="First and Last Name" name="name">
                    </div>
                    <div class="were">
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                    </div>
                    <div class="were">
                        <input type="text" class="form-control" placeholder="Subject" name="subject">
                    </div><br>
                    <div class="were">
                        <textarea  class="form-control" id="" cols="30" rows="7" name="message"></textarea>
                    </div>
                    <div class="were">
                       <button type="submit" class="btn form-buttons">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
   .form-buttons {
       height: 50px;
       width: fit-content;
       background-color: rgb(18, 240, 129);
       color: #fff;
   }
   .were {
       margin-top: 20px;
   }
</style>
{% endblock contact %}

