{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Deposit</title>
{% endblock title %}

{% block bootstrap-nav %}
  {% include "dashboard/nav.html" %}
{% endblock bootstrap-nav %}


{% block deposit %}
<div class="container-fluid mt-5">
  <div class="mb-5">
    <img class="d-grid mx-auto" src="https://cdn-icons-png.flaticon.com/128/6826/6826311.png" alt="">
    <h3 class="text-center mt-3 fs-5">
      Please transfer your capital worth of cryptocurrency 
      to either of the wallet addresses below; <br>*Funds sent may take up to 20 minutes to relect
    </h3>
  </div>
    <table class="table table-light table-striped">
        <thead>
          <tr>
            <th scope="col">Currency</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
            {% for type in payment_type %}
                <tr>
                    <th scope="row"> <img class="me-5" src="{{type.font_link}}" alt="{{type.currency}}">{{type.currency}}</th>
                    <td id="{{type.shorthand}}">{{type.address}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
</div>


<!-- <script>
  function copyFunction() {
  /* Get the text field */

  for (let index = 0; index < array.length; index++) {
    var ids = "{{type.shorthand | escapejs}}"
    var copyText = document.getElementById(ids);
    const element = copyText[index];
    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */

    /* Copy the text inside the text field */
    navigator.clipboard.writeText(element.innerHTML);

    /* Alert the copied text */
    alert("Copied the text: " + element.innerHTML);
  }
  
   
}
</script> -->
{% endblock deposit %}